// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

html, body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1, h2, h3, h4, h5 { font-family: 'Merriweather', serif; }

nav {
    position: fixed;
    right: 0px;
    top: 20%;

    ul {
	    list-style: none;
	    text-align: right;
	}

	a {
	    color:#7cd000;
	    padding-right: 4em;
	    font-size: 1.45em!important;
	    text-transform: uppercase;
	    transition: opacity 0.2s;
	    padding-top: 5px!important;
	    padding-bottom: 5px!important;

	    text-decoration: none!important;
	    background-color: transparent!important;
	    color:#7cd000!important;
	    opacity: .6!important;
	    border-radius: 20px!important;

		&:hover, &:active, &:focus {
			text-decoration: none!important;
		    background-color: transparent!important;
		    color:#7cd000!important;
		    opacity: .6!important;
		    border-radius: 20px!important;
		}

		&:hover:after, &:active:after, a:focus:after {
			background-color: #7cd000!important;
    		border-radius: 20px!important;
		}
	}
}

.full-width {
    width: 100%;
}
.font-right {
    text-align: right;
}

.links {
    margin-top: 1em;

    a {
	    text-decoration: none;
	    &:hover { color:#7cd000; }
	}
}

.verde,
a.verde,
.verde a {
    color:#7cd000;
    text-decoration: none; 
}

.titulo-centralizado {
    text-align:center;
    font-size: 2em;
    text-transform: uppercase;
    padding: 2em 0 2em;

    span {
	    position: relative;

	    &:after {
	    	content: ' ';
		    position: absolute;
		    width:94%;
		    top: 100%;
		    left:3%;
		    border-top: 6px solid #005daa;
	    }
	}
}

.modulos {
    color: white;
    text-align:center;
    margin-bottom: 5rem;

    h5 {
	    padding-top:1em;
	    font-size: 1.5em;
	}
}

.modulo { 
	height: 15em;

	p { padding: 1em 0.8em 2em;	}
}

.modulo-azul { background-color: #005daa; }
.modulo-verde { background-color: #7cd000; }
.modulo-amarelo { background-color: #ff8800; }
.modulo-vermelho { background-color: #ff0020; }

.menu {
	padding-top: 6em;

	a {
	    color: white;
	    text-transform: uppercase;
	    font-size: 1.4em;
	    font-weight: bold;
	    margin: 0em 1em 0;
	    padding-top: 1em;
	}
}

.width100 {
    display: inline-block;
    width:100%;
    line-height: 1.8em;
}
.width60-fixo {
    width: 60%;
    float:left;

    img {
	    width:100%;
	    margin: 10% 0 10%;
	}
}

.width40-fixo {
    float:left;
    width: 40%;
    padding: 2.5em 4em 6em 3.5em;

    h5 {
	    font-size: 2em;
	    padding-top:2.5em;
	}

	p {
	    padding-top:1em;
	    font-size: 0.95em;
	    line-height: 1.7em;
	}
}

.borda-60 {
    margin-top:12.5%;
    position:relative;

    &:after {
	    content:' ';
	    position:absolute;
	    right: 0;
	    top:0;
	    width:128%;
	    height:100%;
	    border: 0.8em solid #005ea8;
	}
}

#barra-superior {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0px;
    width:100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    .navbar-toggle .icon-bar { background-color: rgba(124, 208, 0, 0.6); }

    li ~ li {
	    border-left: 2px solid rgba(124, 208, 0, 0.6);
	    padding-left: 1em;
	    margin-left: 1em;
	}
}

#inicio {
    height: 90vh;
    min-height: 50em;
    color: white;
    background-image: url('http://res.cloudinary.com/tesseract/image/upload/c_scale,q_80,w_1920/v1506449792/acordo_rapido_home_inicio.jpg');
    background-size: cover;
    background-position: center center;

    h3 {
	    margin-top: 5em;
	    font-size: 3em;
	}

	p {
	    font-size: 1.4em;
	    margin-top:1.7em;
	}
}

#empresa {
    padding-bottom: 2em;
}

#modulos {
    background-color: rgb(179, 213, 243);
    background-size: cover;
    background-position: center center;
    background-blend-mode: screen;

    .container {
		max-width: 70em;
	}
}

#contato {
    background-color: #d1e6ad;
    padding-bottom: 5em;

    .dados {
	    font-size:1.2em;
	    color: #005daa;
	    text-align: center;
	}

	.col-sm-6 {
	    padding: 0 5em 0;
	}

	h5 {
	    color: black;
	    text-align: center;
	    font-size: 1.3em;
	}

	form {
		margin-top: 2em;

		input[type="submit"] {
		    width:auto;
		    float:right;
		    background-color: #005daa;
		    color:white;
		    padding: 0.3em 1em 0.4em;
		}

		input, textarea {
			width: 100%;
		    border: 0px solid transparent;
		    background-color: white;
		    margin-top: 0.5em;
		    color:black;
		    padding: 0.3em 0.5em 0.5em;
		}
	}
}
.margint3 {
    margin-top: 3em;
}

.vertical-helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.center-vertical {
    display: inline-block;
    vertical-align: middle;
}

.link-icon {
    height:32px;
}

.container-fases {
    padding: 1.5em;
    margin: 1em 0
}

.container-fases > h5 {
    color: #333;
    margin-bottom: 1em;
    font-size: 1.8em;

    &:after {
		content:' ';
		position:absolute;
		right: 0;
		top:0;
		width:100%;
		height:100%;
		border: 0.8em solid #005ea8;
	}
}

#itenslista > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display: inline;
    /* this fix is needed for IE7- */
    padding: 10px 1%;
    width: 30%;
}



@media (max-width:768px) {
	.width100 {
	    width:100%;
	    line-height: 1.8em;
	}

	.width60-fixo {
		.responsivo {
			width: 100%;
			float: none;
			float: none;
		    text-align: center;
		    margin: 0;
		    padding: 1em;
		}

		img {
		    width:100%;
		    margin: 10% 0 10%;
		}

		h5 {
		    font-size: 2em;
		    padding-top:2.5em;
		}

		p {
		    padding-top:1em;
		    font-size: 0.95em;
		    line-height: 1.7em;
		}
	}

	.borda-60 {
	    margin-top:12.5%;
	    position:relative;

	    &:after {
		    content:' ';
		    position:absolute;
		    right: 0;
		    top:0;
		    width:100%;
		    height:100%;
		    border: 0.8em solid #005ea8;	    	
	    }
	}

	.container-fases {
	    padding: 1em;
	    margin: 1em 0;

	    &:after {
	    	content:' ';
		    position:absolute;
		    right: 0;
		    top:0;
		    width:100%;
		    height:100%;
		    border: 0.8em solid #005ea8;
	    }
	}

	.container-fases > h5 {
	    color: #333;
	    margin-bottom: 1em;
	}

	#barra-superior li ~ li {
	    border-left: 0px solid rgba(124, 208, 0, 0.6);
	}

	#inicio h3 {
	    margin-top: 3.5em;
	    font-size: 2.5em;
	}
} // FIM @media (max-width:768px)